/*
Theme Name: Grido Child
Description: Child theme for Grido  theme
Author: Chris
Template: grido
*/

@import url("../grido/style.css");

/*ICON SWITCH
*************************************************************************************/
/* per cat */


.post.category-bavarian-legends .post-icon  {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}
.post.category-rss-exclude .post-icon  {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-circumpunct.png);
}
.post.category-bavarian-illuminati .post-icon  {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-circumpunct.png);
}
.post.category-government-conspiracy .post-icon  {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-gov-con-white.png);
}
.post.category-quotations .post-icon  {
	background-image: url(https://www.illuminatirex.com/wp-content/themes/grido/images/icon-quote.png);
}
/* per post type */
.post-icon {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}

.format-audio .post-icon  {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}
.format-gallery .post-icon {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}
.format-link .post-icon {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}
.format-quote .post-icon {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}
.format-status .post-icon {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}
.format-aside .post-icon {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}
.format-videoOFF .post-iconOFF {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}
.format-image .post-icon {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}
.format-chat .post-icon {
	background-image: url(https://www.illuminatirex.com/wp-content/uploads/icon-allseingeye.png);
}

/************************************************************************************
STRUCTURE MODS
*************************************************************************************/
.social-widget .rss a {
  text-indent: -99999px;
}

/* original width 978 */
.pagewidth {
	width: 1037px;
	margin: 0 auto;
}

/* body (middle container) */
#body {
	margin: 0 auto;
	max-width: 100%;
	padding-bottom: 40px;
}

span#titleText {display:none;}

/* content */
#content {
	margin: 20px 0 60px;
	width: 676px;
	float: left;
}

/* sidebar original width 240 */
#sidebar {
	width: 300px;
	float: right;
	margin: 20px 0 60px;
}


/* module styling*/


body {
background-image: url(https://www.illuminatirex.com/wp-content/themes/grido/uploads/bg/bg9.png);
background-color: #121212;
}

a {
color: #999999;
}

body a:hover {
color: #ff0000;
}

.post-content a{
color: #0000FF;
text-decoration: underline; 
}

.post-content a:hover {
color: #ff0000;
}

#sidebar a {
text-decoration: none;
color: #999999;
}

#sidebar a:hover {
text-decoration: none;
color: #ff0000;
}

#sidebar .widgettitle {
color: #999999;
}

#footer a {
color: #999999;
}

/* custom css */
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	border-color: #ff0000;
}

/* form input:focus - must add email */
textarea:focus, input[type=password]:focus, input[type=text]:focus, input[type=search]:focus, input[type=email]:focus {
	outline: none;
	border-color: #ff0000;
	box-shadow: 0 0 10px rgba(255,0,51,.3);
}

input[type=text], input[type=password], 
textarea, input[type=search], input[type=email] {
	background: #fff;
	border: solid 1px #ddd;
	padding: 5px 10px;
	border-radius: 5px;
	-webkit-appearance: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
input[type=text], input[type=search], input[type=email] {
	width: 240px;
	max-width: 90%;
}

/* post date and post icon */
.post-date, .post-icon {
	background-color: #ff0000;
}

#site-description {
background-color: #ff0000;
font-size: 1.4em;
line-height: 1.4em;
font-family: Oswald, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-weight: normal;
text-transform: uppercase;
color: #fff;
text-shadow: 0 2px 0 rgba(0,0,0,.1);
margin: 25px 0px 0px 0px;
}


.page #content, .page-404 {
	border: solid 1px #c1bfbf;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.1);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.1);
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff ));
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff ',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%,#ffffff 100%);
    padding: 10px 15px;
}
/* ededed 100% */

.emphasis {
font-size: 1.4em;
line-height: 1.4em;
margin: 1px 0 .4em;
font-family: Oswald, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-weight: normal;
color: #000;
}

.back-top a {
background: #999999 url(https://www.illuminatirex.com/wp-content/themes/grido/images/arrow-up.png) no-repeat center center;
}

.page-title {
color: #999999;
}

.post-inner {
background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
background: #fff;
}


#header {
top: 0;
margin-bottom: 0;
}