<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	xmlns:georss="http://www.georss.org/georss"
	xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
	
	>
<channel>
	<title>
	Comments for Illuminati Rex	</title>
	<atom:link href="https://www.illuminatirex.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.illuminatirex.com</link>
	<description>Conspiracy comics, lists, articles and other conspiratorial goodies....</description>
	<lastBuildDate>Sun, 07 Jan 2018 08:50:45 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				Comment on Top Ten Government Conspiracies by The Thought Revolution: Beyond Pavlovian Thinking and &#8220;Conspiracy Theories&#8221; &#8211; The Vermont Independent				</title>
				<link>https://www.illuminatirex.com/top-ten-government-conspiracies/#comment-55030</link>
		<dc:creator><![CDATA[The Thought Revolution: Beyond Pavlovian Thinking and &#8220;Conspiracy Theories&#8221; &#8211; The Vermont Independent]]></dc:creator>
		<pubDate>Mon, 22 Aug 2016 18:14:03 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=4855#comment-55030</guid>
					<description><![CDATA[[&#8230;] Operation Northwoods, Operation Mockingbird, Operation Paperclip, Project 112/SHAD, Tuskegee Syphill&#8230; [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Operation Northwoods, Operation Mockingbird, Operation Paperclip, Project 112/SHAD, Tuskegee Syphill&#8230; [&#8230;]</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Smurf Conspiracy by Illuminati symbolism in Smurfs films &#124; IlluminatiWatcher				</title>
				<link>https://www.illuminatirex.com/smurf-conspiracy/#comment-54959</link>
		<dc:creator><![CDATA[Illuminati symbolism in Smurfs films &#124; IlluminatiWatcher]]></dc:creator>
		<pubDate>Thu, 27 Jun 2013 03:49:32 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=485#comment-54959</guid>
					<description><![CDATA[[...] Here&#8217;s an even better breakdown of the theories given in comic strip form, hit the jump for all of the details: http://www.illuminatirex.com/smurf-conspiracy/ [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Here&#8217;s an even better breakdown of the theories given in comic strip form, hit the jump for all of the details: <a href="http://www.illuminatirex.com/smurf-conspiracy/" rel="nofollow ugc">http://www.illuminatirex.com/smurf-conspiracy/</a> [&#8230;]</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Top Ten Conspiracy Movies by Gist				</title>
				<link>https://www.illuminatirex.com/top-ten-conspiracy-movies/#comment-53795</link>
		<dc:creator><![CDATA[Gist]]></dc:creator>
		<pubDate>Wed, 17 Oct 2012 15:48:42 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=571#comment-53795</guid>
					<description><![CDATA[You already know thus considerably in terms of this subject, produced me in my view believe it from so many various angles. Its like women and men don&#039;t seem to be interested until it is something to do with Lady gaga! Your individual stuffs great. Always deal with it up!]]></description>
		<content:encoded><![CDATA[<p>You already know thus considerably in terms of this subject, produced me in my view believe it from so many various angles. Its like women and men don&#8217;t seem to be interested until it is something to do with Lady gaga! Your individual stuffs great. Always deal with it up!</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Smurf Conspiracy by Die Schlümpfe – ganz üble Faschisten &#124; tazblog				</title>
				<link>https://www.illuminatirex.com/smurf-conspiracy/#comment-53779</link>
		<dc:creator><![CDATA[Die Schlümpfe – ganz üble Faschisten &#124; tazblog]]></dc:creator>
		<pubDate>Tue, 16 Oct 2012 12:45:13 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=485#comment-53779</guid>
					<description><![CDATA[[...] die Schlümpfe Faschisten, Nazis, Stalinisten? Abwegig? Doch schon vor Jahren vermutete die Smurf Conspiracy genau [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] die Schlümpfe Faschisten, Nazis, Stalinisten? Abwegig? Doch schon vor Jahren vermutete die Smurf Conspiracy genau [&#8230;]</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Top Ten Conspiracy Movies by Mekki				</title>
				<link>https://www.illuminatirex.com/top-ten-conspiracy-movies/#comment-53742</link>
		<dc:creator><![CDATA[Mekki]]></dc:creator>
		<pubDate>Sat, 13 Oct 2012 07:19:04 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=571#comment-53742</guid>
					<description><![CDATA[You forgot &quot;The Devil&#039;s Advocate&quot;.]]></description>
		<content:encoded><![CDATA[<p>You forgot &#8220;The Devil&#8217;s Advocate&#8221;.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Smurf Conspiracy by o wow sometimes i wanna belive but then i still end up watching on boomerang on saturaday mornings				</title>
				<link>https://www.illuminatirex.com/smurf-conspiracy/#comment-53381</link>
		<dc:creator><![CDATA[o wow sometimes i wanna belive but then i still end up watching on boomerang on saturaday mornings]]></dc:creator>
		<pubDate>Fri, 14 Sep 2012 02:25:21 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=485#comment-53381</guid>
					<description><![CDATA[:cuckoo: :mrt: :sick: :shocked: :sad: :pouty: :pinch: :angel: :devil: :poop:]]></description>
		<content:encoded><![CDATA[<p>:cuckoo: :mrt: :sick: :shocked: 🙁 :pouty: :pinch: :angel: :devil: :poop:</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Top Ten Conspiracy Movies by Ross				</title>
				<link>https://www.illuminatirex.com/top-ten-conspiracy-movies/#comment-53048</link>
		<dc:creator><![CDATA[Ross]]></dc:creator>
		<pubDate>Sat, 11 Aug 2012 19:26:25 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=571#comment-53048</guid>
					<description><![CDATA[Interesting that none of these are on Netflix :/]]></description>
		<content:encoded><![CDATA[<p>Interesting that none of these are on Netflix :/</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Top Ten Conspiracy Movies by Jared				</title>
				<link>https://www.illuminatirex.com/top-ten-conspiracy-movies/#comment-52069</link>
		<dc:creator><![CDATA[Jared]]></dc:creator>
		<pubDate>Fri, 18 May 2012 09:33:59 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=571#comment-52069</guid>
					<description><![CDATA[BOO TO THIS LIST. some of these are good, but YOU MISSED IT BY A FEW FEET. EYES WIDE SHUT. THE ORIGINAL MANCHURIAN CANDIDATE. CONSPIRACY THEORY WITH MEL GIBSON, they live is a great choice, as is being there, but this list could of been better thought out for those NOT IN THE KNOW, you are starting people in an off direction, WASTING THEIR TIME.]]></description>
		<content:encoded><![CDATA[<p>BOO TO THIS LIST. some of these are good, but YOU MISSED IT BY A FEW FEET. EYES WIDE SHUT. THE ORIGINAL MANCHURIAN CANDIDATE. CONSPIRACY THEORY WITH MEL GIBSON, they live is a great choice, as is being there, but this list could of been better thought out for those NOT IN THE KNOW, you are starting people in an off direction, WASTING THEIR TIME.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on A Short History of the New World Order by Samantha				</title>
				<link>https://www.illuminatirex.com/history-new-world-order/#comment-51978</link>
		<dc:creator><![CDATA[Samantha]]></dc:creator>
		<pubDate>Fri, 11 May 2012 22:16:21 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=4366#comment-51978</guid>
					<description><![CDATA[WOW :face:]]></description>
		<content:encoded><![CDATA[<p>WOW :face:</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				Comment on Top Ten Conspiracy Movies by Samantha				</title>
				<link>https://www.illuminatirex.com/top-ten-conspiracy-movies/#comment-51977</link>
		<dc:creator><![CDATA[Samantha]]></dc:creator>
		<pubDate>Fri, 11 May 2012 22:06:47 +0000</pubDate>
		<guid isPermaLink="false">http://www.illuminatirex.com/?page_id=571#comment-51977</guid>
					<description><![CDATA[wow yea this stuff is like scarry real like its no joke i see people messing around with throwing up the illuminati sighns just as a &quot;joke&quot; but even then there messing with fire as long as you have God on your side then nothing will scare you :biggrin:]]></description>
		<content:encoded><![CDATA[<p>wow yea this stuff is like scarry real like its no joke i see people messing around with throwing up the illuminati sighns just as a &#8220;joke&#8221; but even then there messing with fire as long as you have God on your side then nothing will scare you :biggrin:</p>
]]></content:encoded>
						</item>
			</channel>
</rss>

<!--
Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Object Caching 56/75 objects using apc
Page Caching using disk: enhanced 
Minified using apc
Database Caching 8/22 queries in 0.005 seconds using apc

Served from: www.illuminatirex.com @ 2020-02-15 07:13:28 by W3 Total Cache
-->